<div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
  <% @tasks.each do |task| %>
    <div class="bg-blue-500 shadow-md border mb-2 p-4 mx-4 rounded-md">
      <div class="text-white font-semibold uppercase"><%= task.title %></div>
      <div class="text-white"><%= task.description %></div>
      <div class="mt-2">
        <%= link_to 'Edit', edit_task_path(task), class: "bg-slate-200 text-black px-2 py-1 rounded-md" %>
        <%= link_to 'Delete', task, method: :delete, data: { turbo_method: :delete }, class: "bg-gray-900 text-white px-2 py-1 rounded-md" %>
      </div>
    </div>
  <% end %>
</div>
<div class="flex justify-center my-4 space-x-2">
  <%= link_to 'New Task', new_task_path, class: "bg-blue-500 text-white px-3 py-1 rounded-md" %>
  <%# <%= link_to 'Sincronizar', '#', data: { controller: "sync", action: "click->sync#sync" } %>
  <%= link_to 'Sync', '#', data: { controller: "sync", action: "click->sync#sync" }, class: "bg-blue-500 text-white px-3 py-1 rounded-md" %>
</div>
